<section class="rounded-se-full rounded-es-full bg-gradient-to-r from-amber-300 to-amber-500">
  <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
    <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-white lg:mb-6 md:text-5xl xl:text-6xl dark:text-white">Nos partenaires</h1>
  </div>
</section>
<section class="bg-white antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="mt-3 mb-5 text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r to-amber-300 from-amber-500 text-center">
        Pourquoi nous soutenir ?
      </h2>
      <p class="mt-4 text-base font-bold sm:text-xl text-gray-900">
        Un trek 100% féminin & 100% éco-responsable !
      </p>
    </div>
    <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
      <div class="space-y-4">
        <span class=" h-20 w-20 bg-amber-500 text-white text-4xl font-medium inline-flex items-center justify-center px-2.5 rounded-full">
            1
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900">
          Une belle association !
        </h3>
        <p class="text-lg font-normal text-gray-900">
          Associez votre entreprise aux valeurs du Trek des Gazelles !
          Participez à un évènement sportif, solidaire et responsable.
          Pour votre entreprise, c'est l'assurance de poursuivre votre
          engagement RSE en faveur de l'environnement !
        </p>
      </div>
      <div class="space-y-4">
        <span class=" h-20 w-20 bg-amber-500 text-white text-4xl font-medium inline-flex items-center justify-center px-2.5 rounded-full">
            2
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900">
          Une visibilité nationale !
        </h3>
        <p class="text-lg font-normal text-gray-900">
          La Trek'IN Gazelle est un évènement national à fortes retombées
          médiatiques.
        </p>
      </div>
      <div class="space-y-4">
        <span class=" h-20 w-20 bg-amber-500 text-white text-4xl font-medium inline-flex items-center justify-center px-2.5 rounded-full">
            3
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900">
          Un encouragement pour nous !
        </h3>
        <p class="text-lg font-normal text-gray-900">
          Soutenez une équipe de femmes motivées, battantes et déterminées. Nous n'y arriverons pas sans vous !
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mb-24">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-20">
        <h2 class="m-2 p-4 text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r to-amber-300 from-amber-500 text-center">
            Notre budget.
        </h2>
        <div class="bg-white dark:bg-amber-500 relative shadow-md sm:rounded-lg overflow-hidden m-5">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
                        <tr>
                            <th scope="col" class="px-4 py-3 text-lg">Description</th>
                            <th scope="col" class="px-4 py-3 text-lg">Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Frais d'inscription pour l'equipe, assurance, organisation pendant les 6 jours (pour 3 personnes)</td>
                            <td class="px-4 py-3 text-white text-base">5910 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Vol aller/retour</td>
                            <td class="px-4 py-3 text-white text-base">1200 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Transfert aéroport France (train ou voiture)</td>
                            <td class="px-4 py-3 text-white text-base">500 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Transfert aéroport Maroc (bus ou taxi)</td>
                            <td class="px-4 py-3 text-white text-base">100 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Matériel de navigation</td>
                            <td class="px-4 py-3 text-white text-base">300 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Stage d'entrainement de navigation (3 jours à Avignon)</td>
                            <td class="px-4 py-3 text-white text-base">540 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Hébergement, repas, transport pour le stage</td>
                            <td class="px-4 py-3 text-white text-base">950 €</td>
                        </tr>
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Equipements: tenus, chaussures, duvet, bâtons</td>
                            <td class="px-4 py-3 text-white text-base">1500 €</td>
                        </tr>
                    </tbody>
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
                        <tr>
                            <th scope="col" class="px-5 py-4 text-lg">MONTANT TOTAL</th>
                            <th scope="col" class="px-5 py-4 text-lg">11 000 €</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="p-3 flex justify-center mb-24">
    <div class="lg:p-1 rounded-full bg-amber-500">
        <h2 class="m-5 text-xl font-bold text-white text-center">
            Point à retenir: Les dons ouvrent droit à une réduction d'impôt,
            égale à 66% du montant des sommes versées.
        </h2>
    </div>
</section>
<section class="bg-white">
    <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-center">Ici vous pouvez voir où vous serez placé !</h2>
    </div>
    <div class="flex justify-center items-center mx-auto max-w-screen-xl">
        <img class="w-1/2 hidden dark:block" src="<%= asset_path('trek.png') %>" alt="dashboard image">
    </div>
</section>
<section class="bg-white mb-24">
    <div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="m-2 p-4 text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r to-amber-300 from-amber-500 text-center">
                Envie de devenir notre partenaire ?
            </h2>
            <p class="mb-6 font-light text-gray-900 md:text-lg">Rien de plus simple, il vous suffit de nous contacter via ce bouton !</p>
          <%= link_to "Contactez-nous !", "/static_pages/Contact", class: "text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none" %>
    </div>
</section>
