<h1>Panier</h1>

<%= render partial: 'cart/cart', locals: { cart: @cart } %>

<%= render partial: 'cart/orderables', collection: @cart.orderables, as: :orderable %>

<p>Total: <%= @cart.total %>€</p>
<%= button_to "Passer commande (#{number_to_currency(@total_price, unit: "€")})", checkout_create_path(total: @total_price), class: "btn btn-primary", data: {turbo: false} %>