<div class="mt-48 smooth-top container rounded-full w-80 text-center text-white font-bold justify-center mx-auto bg-amber-500 my-5">
  <h1>Paiement annulé ⛔.</h1>
  <p class="mx-auto">
    Oups ... apparement le paiment n'as pas pu aboutir.
  </p>
</div>

<div class="container w-80 mx-auto justify-center">
  <div class="flex justify-center">
    <%= link_to "Retourner à mon panier.", cart_path(current_user.cart.id), class: "smooth-left w-full text-white rounded-full bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-bold  text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none" %>
    <%= link_to "Retourner à l'accueil.", root_path, class: "smooth-right w-full text-white rounded-full bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-bold text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none" %>
  </div>
</div>