/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

/************************* ANIM BG TITRES STATICS*************/

.gradiant {
  background: linear-gradient(-45deg, #fbbf6b, #f9b450, #f28a12);
	background-size: 200% 200%;
  animation: gradient 11s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/****************** FIN ANIM BG TITRES STATICS*************/

/*************** SHADOW IMAGE TREK *********************/
.shdw-css-orange {
  filter: drop-shadow(0 8px 10px #f9b450);
}

.shdw-css-black {
  filter: drop-shadow(0 0 10px #374151);
}

/********** PARTIE NAVBAR *****************************************/

.nav-css {
  position: relative;
}

.nav-css::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #f9b450; 
  transform: scaleX(0); 
  transition: background-color .5s ease, transform .5s ease;
}

.nav-css:hover::after {
  background-color: #f9b450;
  transform: scaleX(.8);
}

.nav-home {
  position: relative;
}

.nav-home::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #374151; 
  transform: scaleX(0); 
  transition: background-color .5s ease, transform .5s ease;
}

.nav-home:hover::after {
  background-color: #374151;
  transform: scaleX(.8);
}

/************* FIN DE LA PARTIE NAVBAR *********************************/

/************* ANIMATION VUE STRIPE ************************************/

.smooth-top {
  animation: smooth-top 0.8s both;
}

@keyframes smooth-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.smooth-left {
	animation: smooth-left 0.8s both;
}

@keyframes smooth-left {
  0% {
    transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.smooth-right {
	animation: smooth-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes smooth-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bounce-right {
  animation: bounce-right 1.2s both;
}

@keyframes bounce-right {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

/********************** FIN ANIMATION VUE STRIPE ****************************************/


/************************** MEDIA SCREEN  *******************************************/

@media screen and (max-width: 1023px) {
  .nav-css:hover::after {
    transform: scaleX(0);
  }

  .nav-home:hover::after {
    transform: scaleX(0);
  }
}