<footer class="bg-white shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Au delà d'elles</span>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Notre histoire</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Nos partenaires</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Boutique</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Au delà d'elles</a>. All Rights Reserved.</span>
    </div>
</footer>